.hero {
    background: url('../images/dist/section-bg.jpg') bottom center no-repeat;
    padding-top: 145px;

    &__inner {
        display: flex;
        padding-bottom: 100px;
    }

    &__content {
        max-width: 600px;
        margin-right: 120px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
    }

    &__btn-wrapper {
    }

    &__btn {
    }

    &__bg {
        position: relative;
        z-index: 3;
        text-align: center;
        img {
            display: flex;
            margin: 0 auto;
        }

        &::before {
            position: absolute;
            content: "";
            left: 179px;
            bottom: -72px;
            width: 195px;
            height: 195px;
            background: url('../images/dist/bg-circles.svg') center no-repeat;
            z-index: -1;
        }
        &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            width: 195px;
            height: 195px;
            background: url('../images/dist/bg-circles-green.svg') center no-repeat;
            z-index: -1;
        }
    }
}
