.hero {
    background: url('../images/dist/hero-bg-full.png') bottom center no-repeat;
    padding-top: 145px;
    padding-bottom: 510px;

    &__inner {
        display: flex;
    }

    &__content {
        max-width: 600px;
        margin-right: 120px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
    }

    &__bg {
        position: relative;
        display: none;
        z-index: 3;
        text-align: center;
        img {
            display: flex;
            margin: 0 auto;
        }

        &::before {
            position: absolute;
            content: "";
            left: 179px;
            bottom: -72px;
            width: 195px;
            height: 195px;
            background: url('../images/dist/bg-circles.svg') center no-repeat;
            z-index: -1;
        }
        &::after {
            position: absolute;
            content: "";
            right: 438px;
            top: 11px;
            width: 195px;
            height: 195px;
            background: url('../images/dist/bg-circles-green.svg') center no-repeat;
            z-index: -1;
        }
    }
}
