
// USER VARIABLES SECTION
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$blue: #00A2E8;
$green: #22B14C;
$main: #4F4F4F;
$gray: #333333;
// FONTS


// GENERAL DOCUMENT STYLES

input, textarea {
	outline: transparent;
}

html {
	box-sizing: border-box;
    height: 100%;
}

html, body { 
    scroll-behavior: smooth;
}

body {
	min-width: 320px;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 125%;
    color: $main;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.title {
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 5px;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 373px;
        height: 6px;
        background-color: $blue;
    }
}

.title-back {
    position: absolute;
    left: 60px;
    bottom: -25px;
    z-index: -1;
    font-weight: bold;
    font-size: 144px;
    line-height: 176px;
    width: 100%;
    color: #fff;
    // -webkit-text-stroke: 1px #828282;
    text-shadow: 1px 0 0 #828282, -1px 0 0 #828282, 0 1px 0 #828282, 0 -1px 0 #828282, 1px 1px #828282, -1px -1px 0 #828282, 1px -1px 0 #828282, -1px 1px 0 #828282;
}

.title-wrapper {
    position: relative;
    padding-top: 70px;
    z-index: 3;
}

.btn-arrow {
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 700;
    padding: 16px 23px;
    padding-right: 33px;
    border-radius: 5px;
    color: #fff;
    background-color: $green;

    img {
        margin-left: 30px;
        flex-shrink: 0;
    }
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    padding: 16px 60px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid $blue;

    &--blue {
        color: #fff;
        background-color: $blue;
    }
}

ul,  li {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

// Input number fix

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

button {
	outline: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}

.container {
	max-width: 1180px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}


.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden
	} 
}
